In [1]:
import pandas as pd
import numpy as np
import spacy

from sklearn.model_selection import train_test_split

In [2]:
nlp = spacy.load('en_core_web_md')

In [3]:
data= pd.read_csv('Data_Train.csv', delimiter = ',', encoding ='windows-1252')

In [4]:
data

                                                  STORY  SECTION
0     But the most painful was the huge reversal in ...        3
1     How formidable is the opposition alliance amon...        0
2     Most Asian currencies were trading lower today...        3
3     If you want to answer any question, click on ‘...        1
4     In global markets, gold prices edged up today ...        3
...                                                 ...      ...
7623  Karnataka has been a Congress bastion, but it ...        0
7624  The film, which also features Janhvi Kapoor, w...        2
7625  The database has been created after bringing t...        1
7626  The state, which has had an uneasy relationshi...        0
7627  Virus stars Kunchacko Boban, Tovino Thomas, In...        2

[7628 rows x 2 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7628 entries, 0 to 7627
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STORY    7628 non-null   object
 1   SECTION  7628 non-null   int64
dtypes: int64(1), object(1)
memory usage: 119.3+ KB

In [6]:
data['SECTION'].value_counts()

SECTION
1    2772
2    1924
0    1686
3    1246
Name: count, dtype: int64

I am not really sure of the categories of the section, but it is just for learning

In [7]:
def preprocess(text):
    doc = nlp(text)
    filtered_text = []
    for token in doc:
        if token.is_punct and token.is_stop:
            continue
        
        filtered_text.append(token.lemma_)

    
    return ' '.join(filtered_text)

In [8]:
data['vec_section'] = data['STORY'].apply(lambda x : preprocess(x))

In [ ]:
data['vectorized_data'] = data['vec_section'].apply(lambda x : nlp(x).vector)

In [ ]:
data

,STORY,SECTION,vec_section,vectorized_data
0,But the most painful was the huge reversal in ...,3,but the most painful be the huge reversal in f...,"[-1.5943478, 1.0397847, -2.6801314, -0.0271194..."
1,How formidable is the opposition alliance amon...,0,how formidable be the opposition alliance amon...,"[-3.1753776, 0.09757098, 1.5610592, 1.0466349,..."
2,Most Asian currencies were trading lower today...,3,Most asian currency be trade low today . south...,"[-3.1166031, -2.0884802, -2.662185, 2.5199428,..."
3,"If you want to answer any question, click on ‘...",1,"if you want to answer any question , click on ...","[-0.027849795, 2.1713407, -2.204065, -0.109234..."
4,"In global markets, gold prices edged up today ...",3,"in global market , gold price edge up today as...","[-1.2333716, -0.22299613, -3.2364547, 1.955066..."
...,...,...,...,...
7623,"Karnataka has been a Congress bastion, but it ...",0,"Karnataka have be a Congress bastion , but it ...","[-2.6275887, 1.1259315, -0.8625272, 1.294819, ..."
7624,"The film, which also features Janhvi Kapoor, w...",2,"the film , which also feature Janhvi Kapoor , ...","[-0.8646396, 2.8826194, -3.365659, -1.6768731,..."
7625,The database has been created after bringing t...,1,the database have be create after bring togeth...,"[-2.4555013, 0.5194797, -0.8103986, 1.5217817,..."
7626,"The state, which has had an uneasy relationshi...",0,"the state , which have have an uneasy relation...","[-2.4325054, 0.7297126, -0.79653114, 0.9626245..."
7627,"Virus stars Kunchacko Boban, Tovino Thomas, In...",2,"virus star Kunchacko Boban , Tovino Thomas , I...","[-1.9845068, -0.6844959, 0.25392509, -1.078935..."

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(data['vectorized_data'], data['SECTION'], 
                                                    test_size= 0.2,
                                                    random_state=48, 
                                                    stratify=data['SECTION'])

In [ ]:


print("Shape of X_train before reshaping: ", x_train.shape)
print("Shape of X_test before reshaping: ", x_test.shape)


X_train_2d = np.stack (x_train)
X_test_2d =  np.stack (x_test)

print("Shape of X_train after reshaping: ", X_train_2d.shape)
print("Shape of X_test after reshaping: ", X_test_2d.shape)

Shape of X_train before reshaping:  (6102,)
Shape of X_test before reshaping:  (1526,)
Shape of X_train after reshaping:  (6102, 300)
Shape of X_test after reshaping:  (1526, 300)

In [ ]:
y_train.value_counts()

SECTION
1    2217
2    1539
0    1349
3     997
Name: count, dtype: int64

In [ ]:
y_test.value_counts()

SECTION
1    555
2    385
0    337
3    249
Name: count, dtype: int64

There is an imbalance in data, but i will not work on that now, for that is not the main reason for this problem

In [ ]:
x_train # type: ignore

154     [-1.9652759, 0.8407236, -0.68037516, 0.6293255...
1159    [-2.3403814, 0.0020631386, -0.77280563, 0.7703...
3460    [-1.2951471, 1.8160058, -2.903667, 0.48751807,...
1715    [-0.47793514, 1.557449, -2.8326793, 0.02395625...
5073    [-1.87758, 2.2696428, -2.4927719, -0.055337023...
                              ...
133     [-2.3506145, 0.93192285, -1.9755405, 2.3180497...
6521    [-2.8685653, 1.4303724, -0.33049855, 0.5647568...
1528    [-1.8986155, 0.3892662, -1.3415482, 1.5049845,...
4358    [-1.455209, 2.0162122, -0.6699389, 1.0541879, ...
3267    [-2.181308, 0.33829764, -2.596703, 1.4962131, ...
Name: vectorized_data, Length: 6102, dtype: object

NOW LET US GO TO MODEL SELECTION

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import classification_report
from sklearn.pipeline import Pipeline
from sklearn.tree import DecisionTreeClassifier
from  sklearn.neighbors import KNeighborsClassifier

from sklearn.ensemble import GradientBoostingClassifier

In [ ]:

clf = DecisionTreeClassifier()


clf.fit(X_train_2d, y_train)



y_pred = clf.predict(X_test_2d)


print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.78      0.81      0.80       337
           1       0.83      0.81      0.82       555
           2       0.84      0.82      0.83       385
           3       0.70      0.72      0.71       249

    accuracy                           0.80      1526
   macro avg       0.79      0.79      0.79      1526
weighted avg       0.80      0.80      0.80      1526

In [ ]:
scaler = MinMaxScaler()                                         
scaled_train_embed = scaler.fit_transform(X_train_2d)
scaled_test_embed = scaler.transform(X_test_2d)


clf = MultinomialNB()


clf.fit(scaled_train_embed , y_train) 



y_pred = clf.predict(scaled_test_embed)



print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.91      0.76      0.83       337
           1       0.70      0.95      0.81       555
           2       0.90      0.81      0.86       385
           3       0.84      0.50      0.63       249

    accuracy                           0.80      1526
   macro avg       0.84      0.76      0.78      1526
weighted avg       0.82      0.80      0.79      1526

In [ ]:
scaler = MinMaxScaler()                                         
scaled_train_embed = scaler.fit_transform(X_train_2d)
scaled_test_embed = scaler.transform(X_test_2d)


clf = MultinomialNB()


clf.fit(scaled_train_embed , y_train) 



y_pred = clf.predict(scaled_test_embed)



print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.91      0.76      0.83       337
           1       0.70      0.95      0.81       555
           2       0.90      0.81      0.86       385
           3       0.84      0.50      0.63       249

    accuracy                           0.80      1526
   macro avg       0.84      0.76      0.78      1526
weighted avg       0.82      0.80      0.79      1526

In [ ]:
from  sklearn.neighbors import KNeighborsClassifier



clf = KNeighborsClassifier(n_neighbors = 5, metric = 'euclidean')


clf.fit(X_train_2d, y_train)

y_pred = clf.predict(X_test_2d)



print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.84      0.95      0.89       337
           1       0.89      0.95      0.92       555
           2       0.98      0.84      0.90       385
           3       0.94      0.84      0.89       249

    accuracy                           0.90      1526
   macro avg       0.91      0.89      0.90      1526
weighted avg       0.91      0.90      0.90      1526

In [ ]:

clf = RandomForestClassifier()


clf.fit(X_train_2d, y_train)

y_pred = clf.predict(X_test_2d)


print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.96      0.89      0.92       337
           1       0.92      0.95      0.93       555
           2       0.93      0.97      0.95       385
           3       0.91      0.86      0.89       249

    accuracy                           0.93      1526
   macro avg       0.93      0.92      0.92      1526
weighted avg       0.93      0.93      0.93      1526

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier


clf = GradientBoostingClassifier()


clf.fit(X_train_2d, y_train)


y_pred = clf.predict(X_test_2d)



print(classification_report(y_test, y_pred))

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm


from matplotlib import pyplot as plt
import seaborn as sn
plt.figure(figsize = (10,7))
sn.heatmap(cm, annot=True, fmt='d')
plt.xlabel('Prediction')
plt.ylabel('Truth')